
{% stylesheet %}
/* Optional: Add your custom styles here for layout and design */
.digi-pro-features-section {
  text-align: center;
  padding: 40px 0;
  max-width: 1200px;
  margin: auto;
}
.digi-pro-features-section-heading{
  width: 100%;
  text-align: center;
  font-size: 32px;
}
.digi-pro-features{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

{% endstylesheet %}


<section class="digi-pro-features-section">
  {% if section.settings.digi_products_app_features_head != blank %}
    <h2 class="digi-pro-features-section-heading">{{ section.settings.digi_products_app_features_head }}</h2>
  {% endif %}

  <section id="features" class="digi-pro-features">
  {% for block in section.blocks %}
      <div class="feature_item">
        <div class="" style="flex: 0 0 auto;">
          {% if block.settings.feature_icon != blank %}
            <img src="{{ block.settings.feature_icon | image_url }}" alt="{{ block.settings.feature_heading | escape }}" class="d-inline-block highlights-icon">
          {% endif %}
        </div>
        <div class="feature_item-content">
          <h3 class="">{{ block.settings.feature_heading }}</h3>
          <p class="">{{ block.settings.feature_description }}</p>
        </div>
      </div>
  {% endfor %}

</section>

  
  {% if section.blocks.size > 4 %}
    <div class="d-flex justify-content-center text-center w-100">
      <a href="javascript:void(0);" class="moreless-button" onclick="toggleFeatures(this)" data-show-all>{{ section.settings.button_text }}</a>
    </div>
  {% endif %}
</section>



<script>
  function toggleFeatures(button) {
    const section = document.getElementById("features")
    const showAll = button.getAttribute('data-show-all') === 'true';
    const medias = section.querySelectorAll('.media');
    
    medias.forEach((media, index) => {
      if (index >= 4) {
        media.style.display = showAll ? 'none' : 'flex';
      }
    });

    button.textContent = showAll ? '{{ section.settings.button_text }}' : '{{ section.settings.button_text_alternate }}';
    button.setAttribute('data-show-all', !showAll);
  }

  document.addEventListener('DOMContentLoaded', () => {
    const section = document.querySelector('#features');
    if(!section) return;
    const medias = section.querySelectorAll('.media');
    medias.forEach((media, index) => {
      if (index >= 4) {
        media.style.display = 'none';
      }
    });
  });
</script>


{% schema %}
{
  "name": "Digi_Pro_App_Features",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "digi_products_app_features_head",
      "label": "Heading_Text"
    },
    {
      "type": "text",
      "id": "digi_products_app_features_btn",
      "label": "Heading_Text"
    },
    {
      "type": "url",
      "id": "digi_products_app_features_url",
      "label": "Heading_Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Show More Button Text",
      "default": "View More Features"
    },
    {
      "type": "text",
      "id": "button_text_alternate",
      "label": "Show Less Button Text",
      "default": "View Less Features"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature Icon"
        },
        {
          "type": "text",
          "id": "feature_heading",
          "label": "Feature Heading"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "label": "Feature Description"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "Digi_Pro_App_Features"
    }
  ]
}
{% endschema %}