<style>
    .key-applications {
      display: flex;
   background-color: #F6F8FF;
      /* light blue background */

    }

    .key-applications-left {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
     gap: 42px;
  max-width: 780px;
      margin: 0 auto;
  padding-bottom: 40px;
    }

    .key-applications-left h2 {
      grid-column: 1 / -1;
      font-weight: 700;
      font-size: 42px;
      margin-bottom: 18px;
    }

    .app-item {
      display: flex;
      gap: 16px;
  flex-direction: column;
    }

    .app-icon {
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      fill: #dc3a2c; /* red color for icons */
      margin-top: 4px;
    }

    .app-text h3 {
      font-weight: 500;
      font-size: 20px;
      margin: 0 0 6px 0;
  color: #000000;
    }

    .app-text p {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
  margin-top: 21
  color: #000000;
    }

    .key-applications-right {
      flex: 1;
      max-width: 540px;
    }

    .key-applications-right img {
      width: 100%;
      box-sizing: border-box;
  height: 100%;
    }

    /* Responsive */
    @media (max-width: 900px) {
      .key-applications {
        flex-direction: column;
        padding: 20px;
      }

      .key-applications-left {
        grid-template-columns: 1fr;
      }

      .key-applications-left h2 {
        margin-bottom: 20px;
      }

      .key-applications-right {
        max-width: 100%;
        margin-top: 30px;
      }
    }
   @media (max-width: 989px) {
  .key-applications-left h2 {
  font-size: 30px;
  }
  }
</style>


{% style %}
  .auto-card-section{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .key-applications{
    background: {{ section.settings.background }}
  }
{% endstyle %}

<div class="key-section">
  <div class="key-applications">
    <div class="key-applications-left">
      <h2>{{ section.settings.title }}</h2>

{% for block in section.blocks %}
  <div class="app-item">
    {{ block.settings.content_icon | image_tag | image_url   }}
        <div class="app-text">
          <h3>{{ block.settings.title }}</h3>
          <p>{{ block.settings.description }}</p>
        </div>
      </div>
{% endfor %}




      <div class="app-item">
        <svg
          width="29"
          height="34"
          viewBox="0 0 29 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.8872 6.01105C12.0071 6.01037 12.127 6.00952 12.2469 6.00851C12.5697 6.00633 12.8925 6.00669 13.2154 6.00767C13.4858 6.00825 13.7562 6.00756 14.0266 6.00687C14.6646 6.00525 15.3027 6.0057 15.9407 6.00749C16.5974 6.00931 17.2541 6.00787 17.9108 6.00481C18.4765 6.00227 19.0422 6.00164 19.6079 6.00254C19.9449 6.00306 20.282 6.00291 20.619 6.00097C20.9358 5.99924 21.2525 5.9999 21.5693 6.00236C21.6851 6.00287 21.8009 6.00256 21.9167 6.00135C22.5278 5.99547 23.0194 6.00477 23.5096 6.41142C23.9379 6.85046 23.9969 7.21989 24 7.83808C23.9983 7.97833 23.9983 7.97833 23.9966 8.12142C23.9966 8.22116 23.9967 8.32091 23.9967 8.42367C23.9965 8.69576 23.995 8.96776 23.9928 9.23984C23.9908 9.52469 23.9906 9.80955 23.9902 10.0944C23.9893 10.6332 23.9867 11.1719 23.9835 11.7107C23.98 12.3244 23.9783 12.938 23.9767 13.5516C23.9734 14.8134 23.9679 16.0751 23.9608 17.3368C23.8656 17.3034 23.7703 17.2699 23.6721 17.2355C23.5449 17.1912 23.4176 17.1469 23.2903 17.1027C23.2277 17.0807 23.1652 17.0587 23.1008 17.0361C20.7406 16.2179 18.255 16.4417 16.027 17.5725C15.356 17.9288 14.7745 18.3665 14.205 18.8775C14.1552 18.9181 14.1054 18.9587 14.0541 19.0005C12.471 20.2999 11.4736 22.6093 11.2153 24.6352C11.1903 25.0291 11.1853 25.4214 11.1858 25.8161C11.1859 25.8695 11.1859 25.923 11.1859 25.9781C11.1892 26.8689 11.2642 27.6804 11.53 28.5277C11.5465 28.5821 11.5629 28.6365 11.5798 28.6925C11.9667 29.9434 12.5793 31.0303 13.4182 32.0147C13.5107 32.1401 13.5107 32.1401 13.6051 32.2681C14.0981 32.8246 14.7035 33.2635 15.3068 33.6844C15.4638 33.7987 15.4638 33.7987 15.6212 33.9609C13.923 33.9685 12.2249 33.9742 10.5267 33.9777C9.73817 33.9794 8.94964 33.9817 8.1611 33.9854C7.47357 33.9886 6.78604 33.9907 6.09849 33.9914C5.73467 33.9918 5.37086 33.9928 5.00704 33.9952C4.66407 33.9974 4.32113 33.9981 3.97815 33.9976C3.85279 33.9977 3.72742 33.9983 3.60206 33.9996C2.54476 34.0096 1.69918 33.8466 0.908743 33.0689C0.0811034 32.1753 -0.00345067 31.2136 0.00258424 30.0348C0.00215706 29.894 0.00159631 29.7531 0.000913141 29.6122C-0.000513826 29.2318 3.10661e-05 28.8515 0.00103199 28.4712C0.00183273 28.0718 0.00108918 27.6724 0.000596208 27.273C2.48169e-05 26.6026 0.000775177 25.9321 0.00227691 25.2616C0.00398938 24.4881 0.00343427 23.7147 0.00170187 22.9412C0.000270462 22.2753 7.43543e-05 21.6094 0.000896334 20.9434C0.00138516 20.5465 0.0014571 20.1496 0.000412532 19.7527C-0.000501356 19.3794 0.000142764 19.0061 0.00195278 18.6328C0.00236635 18.4964 0.00225379 18.36 0.00155541 18.2236C-0.00469619 16.8777 0.287249 16.0452 1.19622 15.0736C1.34109 14.9234 1.48634 14.7735 1.632 14.6241C1.71247 14.5409 1.79291 14.4577 1.87331 14.3745C2.09029 14.1501 2.30775 13.9262 2.52534 13.7025C2.75387 13.4673 2.98201 13.2318 3.21022 12.9963C3.59339 12.6011 3.97689 12.2062 4.36058 11.8115C4.80305 11.3563 5.24495 10.9006 5.68655 10.4445C6.06693 10.0517 6.44762 9.65921 6.82856 9.26699C7.05555 9.03328 7.28243 8.79946 7.50904 8.56535C7.72218 8.34519 7.9357 8.12544 8.14952 7.90599C8.22755 7.82578 8.30544 7.74543 8.38319 7.66494C9.45912 6.55143 10.3209 6.00064 11.8872 6.01105ZM10.2058 11.0645C10.1395 11.1324 10.0731 11.2002 10.0048 11.2702C9.78725 11.4928 9.57004 11.7157 9.3529 11.9387C9.27761 12.016 9.20231 12.0932 9.12701 12.1705C8.77352 12.5333 8.42022 12.8963 8.06715 13.2596C7.66126 13.6771 7.25473 14.094 6.84765 14.5103C6.53164 14.8336 6.21624 15.1575 5.90128 15.4819C5.71372 15.675 5.52592 15.8678 5.33746 16.06C5.12751 16.2745 4.91858 16.4899 4.70986 16.7056C4.61703 16.7997 4.61703 16.7997 4.52233 16.8957C3.97407 17.4662 3.65443 18.0212 3.63782 18.8421C3.64397 19.6093 3.84266 20.1986 4.37049 20.7427C4.92982 21.2484 5.54263 21.4405 6.28269 21.4139C7.28003 21.3082 7.92893 20.5865 8.60617 19.8862C8.67164 19.8191 8.7371 19.752 8.80455 19.6829C9.01888 19.4632 9.23263 19.2428 9.44633 19.0223C9.55816 18.9073 9.67 18.7922 9.78186 18.6772C10.1328 18.3164 10.4833 17.9552 10.8335 17.5937C11.1936 17.2221 11.5543 16.8513 11.9154 16.4808C12.2269 16.1612 12.5379 15.8411 12.8485 15.5207C13.0334 15.3299 13.2186 15.1394 13.4041 14.9493C13.6108 14.7372 13.8167 14.5244 14.0225 14.3113C14.0833 14.2493 14.144 14.1873 14.2066 14.1235C14.8215 13.4834 15.2224 12.8798 15.2524 11.9542C15.2339 11.1782 14.9785 10.5872 14.441 10.0384C12.7549 8.76302 11.4581 9.77827 10.2058 11.0645Z"
            fill="#ED1C24"
          />
          <path
            d="M25.9673 18.9228C27.5703 20.2751 28.7389 22.2099 28.9664 24.3184C29.1482 26.9583 28.6109 29.1567 26.8873 31.2001C25.4845 32.7517 23.5207 33.8408 21.4139 33.9859C18.759 34.1043 16.5773 33.4887 14.5791 31.6818C12.9604 30.1068 12.0578 28.0658 12.0004 25.8136C11.9802 23.2904 12.7595 21.1882 14.5391 19.3589C17.7165 16.3399 22.5563 16.2453 25.9673 18.9228ZM19.4877 22.0332C17.6994 24.3826 17.6994 24.3826 17.2027 27.1961C17.3924 28.108 17.944 28.8145 18.69 29.3536C19.5343 29.8785 20.484 29.9656 21.4472 29.7639C22.3925 29.4577 23.1154 28.7878 23.5771 27.9161C23.9199 27.1083 23.9515 26.2144 23.6241 25.3975C23.5458 25.2339 23.4647 25.0716 23.3808 24.9109C23.345 24.8375 23.3092 24.7642 23.2723 24.6887C22.6736 23.519 21.8467 22.45 21.0111 21.4407C20.971 21.388 20.9308 21.3353 20.8894 21.2811C20.2653 20.8363 19.8193 21.5987 19.4877 22.0332Z"
            fill="#ED1C24"
          />
          <path
            d="M18.0707 0.0168571C18.1818 0.0160933 18.2928 0.0152426 18.4039 0.0143093C18.6361 0.0128496 18.8682 0.0128991 19.1004 0.0139351C19.3966 0.0150711 19.6926 0.011751 19.9887 0.00719647C20.2179 0.00429174 20.4471 0.00413563 20.6763 0.0047458C20.7854 0.00464574 20.8945 0.00363012 21.0035 0.0016434C21.5682 -0.00737906 22.0407 0.0046841 22.5128 0.471174C23.2503 1.56896 22.9314 2.29379 22.9314 4C20.6441 4 18.3567 4 16 4C16 1.35121 16 1.35121 16.4332 0.468285C16.8982 -0.0827343 17.4848 0.0151773 18.0707 0.0168571Z"
            fill="#ED1C24"
          />
        </svg>
        <div class="app-text">
          <h3>Engine oil dispensing</h3>
          <p>
            Efficiently delivers engine oil to vehicles during routine
            maintenance or oil changes.
          </p>
        </div>
      </div>

      <div class="app-item">
        <svg
          width="22"
          height="34"
          viewBox="0 0 22 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.455 0.0263562C12.1047 0.324423 12.5924 1.0072 13.031 1.55077C13.2042 1.76427 13.3822 1.97289 13.5611 2.18167C15.4466 4.43033 17.033 6.90815 18.3928 9.50028C18.4308 9.57187 18.4689 9.64346 18.5082 9.71722C20.457 13.3917 21.9695 17.7144 21.9915 21.8972C21.9919 21.9637 21.9923 22.0303 21.9928 22.0988C21.9935 22.2387 21.994 22.3787 21.9943 22.5186C21.995 22.7283 21.9974 22.9379 21.9998 23.1476C22.0181 26.2011 20.7399 28.8642 18.6215 31.025C16.6828 32.9587 13.9378 33.9916 11.2196 33.9997C11.1621 33.9998 11.1045 33.9998 11.0452 33.9998C10.9869 33.9999 10.9285 33.9999 10.8684 34C10.0257 33.9988 9.22353 33.9739 8.40548 33.7535C8.35596 33.7405 8.30644 33.7275 8.25542 33.7141C5.38822 32.9461 2.94804 31.1298 1.44411 28.5821C0.577179 27.0785 0.0133477 25.421 0.00372958 23.6739C0.00319481 23.6091 0.00266005 23.5443 0.00210908 23.4776C0.000774898 23.268 0.000290142 23.0586 0.000155884 22.849C0.000104442 22.7774 5.30004e-05 22.7057 0 22.6319C0.00129274 21.4986 0.0533177 20.3961 0.247932 19.2774C0.261015 19.199 0.274098 19.1207 0.287578 19.04C1.20431 13.6378 3.69637 8.26356 7.08571 3.94416C7.24281 3.7426 7.39495 3.53751 7.54779 3.33276C7.8509 2.93117 8.16355 2.53837 8.48172 2.14852C8.534 2.08325 8.58628 2.01799 8.64015 1.95075C8.96173 1.55285 9.29442 1.16672 9.6396 0.789007C9.67672 0.747796 9.71384 0.706585 9.75209 0.664125C10.2672 0.107747 10.692 -0.0742243 11.455 0.0263562ZM18.5166 19.6279C18.3556 19.8619 18.3461 19.9844 18.3928 20.2627C18.5071 20.4521 18.5071 20.4521 18.6977 20.5658C18.9776 20.6122 19.1009 20.6027 19.3362 20.4427C19.4972 20.2087 19.5068 20.0862 19.4601 19.8079C19.3457 19.6184 19.3457 19.6184 19.1551 19.5047C18.8752 19.4584 18.752 19.4678 18.5166 19.6279ZM18.3928 22.8396C18.3266 23.0369 18.3024 23.1743 18.2891 23.3781C18.1394 25.3639 17.4063 27.0902 15.9412 28.4905C14.615 29.6224 12.9812 30.2793 11.2302 30.3148C10.9583 30.3477 10.7742 30.4309 10.5402 30.5703C10.4319 30.7856 10.4399 30.9382 10.4639 31.1766C10.645 31.4145 10.7835 31.5032 11.0738 31.5556C13.2698 31.5657 15.2402 30.6156 16.868 29.206C16.9148 29.166 16.9615 29.1259 17.0097 29.0847C18.4438 27.7608 19.3719 25.7047 19.4845 23.7807C19.4883 23.6644 19.4913 23.5481 19.4935 23.4317C19.4952 23.3772 19.4969 23.3227 19.4986 23.2665C19.4975 23.0063 19.4785 22.864 19.3198 22.6533C19.157 22.5196 19.157 22.5196 18.9264 22.4985C18.6481 22.5446 18.5631 22.6201 18.3928 22.8396Z"
            fill="#ED1C24"
          />
        </svg>

        <div class="app-text">
          <h3>Transmission fluid refilling</h3>
          <p>
            Accurately refills transmission systems with the required fluid to
            ensure smooth gear operation.
          </p>
        </div>
      </div>

      <div class="app-item">
        <svg
          width="34"
          height="34"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.455 0.0263562C24.1047 0.324423 24.5924 1.0072 25.031 1.55077C25.2042 1.76427 25.3822 1.97289 25.5611 2.18167C27.4466 4.43033 29.033 6.90815 30.3928 9.50028C30.4308 9.57187 30.4689 9.64346 30.5082 9.71722C32.457 13.3917 33.9695 17.7144 33.9915 21.8972C33.9919 21.9637 33.9923 22.0303 33.9928 22.0988C33.9935 22.2387 33.994 22.3787 33.9943 22.5186C33.995 22.7283 33.9974 22.9379 33.9998 23.1476C34.0181 26.2011 32.7399 28.8642 30.6215 31.025C28.6828 32.9587 25.9378 33.9916 23.2196 33.9997C23.1621 33.9998 23.1045 33.9998 23.0452 33.9998C22.9869 33.9999 22.9285 33.9999 22.8684 34C22.0257 33.9988 21.2235 33.9739 20.4055 33.7535C20.356 33.7405 20.3064 33.7275 20.2554 33.7141C17.3882 32.9461 14.948 31.1298 13.4441 28.5821C12.5772 27.0785 12.0133 25.421 12.0037 23.6739C12.0032 23.6091 12.0027 23.5443 12.0021 23.4776C12.0008 23.268 12.0003 23.0586 12.0002 22.849C12.0001 22.7774 12.0001 22.7057 12 22.6319C12.0013 21.4986 12.0533 20.3961 12.2479 19.2774C12.261 19.199 12.2741 19.1207 12.2876 19.04C13.2043 13.6378 15.6964 8.26356 19.0857 3.94416C19.2428 3.7426 19.3949 3.53751 19.5478 3.33276C19.8509 2.93117 20.1636 2.53837 20.4817 2.14852C20.534 2.08325 20.5863 2.01799 20.6402 1.95075C20.9617 1.55285 21.2944 1.16672 21.6396 0.789007C21.6767 0.747796 21.7138 0.706585 21.7521 0.664125C22.2672 0.107747 22.692 -0.0742243 23.455 0.0263562ZM30.5166 19.6279C30.3556 19.8619 30.3461 19.9844 30.3928 20.2627C30.5071 20.4521 30.5071 20.4521 30.6977 20.5658C30.9776 20.6122 31.1009 20.6027 31.3362 20.4427C31.4972 20.2087 31.5068 20.0862 31.4601 19.8079C31.3457 19.6184 31.3457 19.6184 31.1551 19.5047C30.8752 19.4584 30.752 19.4678 30.5166 19.6279ZM30.3928 22.8396C30.3266 23.0369 30.3024 23.1743 30.2891 23.3781C30.1394 25.3639 29.4063 27.0902 27.9412 28.4905C26.615 29.6224 24.9812 30.2793 23.2302 30.3148C22.9583 30.3477 22.7742 30.4309 22.5402 30.5703C22.4319 30.7856 22.4399 30.9382 22.4639 31.1766C22.645 31.4145 22.7835 31.5032 23.0738 31.5556C25.2698 31.5657 27.2402 30.6156 28.868 29.206C28.9148 29.166 28.9615 29.1259 29.0097 29.0847C30.4438 27.7608 31.3719 25.7047 31.4845 23.7807C31.4883 23.6644 31.4913 23.5481 31.4935 23.4317C31.4952 23.3772 31.4969 23.3227 31.4986 23.2665C31.4975 23.0063 31.4785 22.864 31.3198 22.6533C31.157 22.5196 31.157 22.5196 30.9264 22.4985C30.6481 22.5446 30.5631 22.6201 30.3928 22.8396Z"
            fill="#ED1C24"
          />
          <path
            d="M10.9942 2.00236C11.0493 2.00182 11.1044 2.00128 11.1612 2.00073C11.3423 1.99939 11.5232 2.00027 11.7043 2.00131C11.8308 2.0011 11.9573 2.00081 12.0838 2.00042C12.3484 1.99997 12.613 2.00062 12.8777 2.00206C13.2162 2.0038 13.5547 2.0028 13.8932 2.00096C14.1543 1.99986 14.4153 2.00021 14.6764 2.001C14.8012 2.00121 14.926 2.00096 15.0508 2.00024C15.2255 1.99946 15.4 2.00066 15.5747 2.00236C15.674 2.0026 15.7732 2.00284 15.8754 2.00309C16.2714 2.06044 16.4998 2.24483 16.7692 2.53592C17.0893 3.21906 17.0203 4.14164 16.8962 4.87248C16.7256 5.35353 16.4238 5.74473 16.121 6.1476C15.9002 6.45601 15.7202 6.78718 15.5371 7.11969C15.5004 7.18543 15.4637 7.25116 15.4259 7.31888C15.0203 8.04925 14.6396 8.79312 14.2626 9.53903C14.2006 9.53174 14.1385 9.52444 14.0745 9.51692C12.4213 9.35559 10.8202 9.77867 9.50561 10.8302C8.39279 11.7683 7.59339 13.1174 7.41531 14.5881C7.27061 16.4406 7.67187 18.1146 8.8579 19.5577C9.08127 19.8115 9.32686 20.0315 9.58802 20.2444C9.64762 20.2931 9.64762 20.2931 9.70842 20.3428C10.1141 20.6545 10.5698 20.8685 11.0271 21.0907C11.0259 21.1761 11.0247 21.2616 11.0235 21.3497C11.0193 21.6739 11.0168 21.9982 11.0147 22.3224C11.0136 22.4614 11.012 22.6004 11.0101 22.7394C10.9931 23.9588 11.0937 25.1224 11.455 26.2927C11.4738 26.3551 11.4926 26.4175 11.512 26.4817C11.7455 27.2283 12.0379 27.9828 12.4371 28.655C12.532 28.8172 12.532 28.8172 12.532 28.9702C12.1903 28.9792 11.8486 28.9846 11.5068 28.9894C11.4101 28.9919 11.3134 28.9945 11.2137 28.9971C10.4109 29.0056 10.4109 29.0056 10.1506 28.8447C9.87943 28.5681 9.68986 28.3374 9.6385 27.9425C9.64008 27.8487 9.64165 27.755 9.64328 27.6584C9.6437 27.6081 9.64413 27.5578 9.64457 27.506C9.64624 27.3469 9.65001 27.188 9.65386 27.029C9.65537 26.9206 9.65674 26.8121 9.65797 26.7036C9.66127 26.4391 9.66646 26.1747 9.67267 25.9102C9.55517 25.8733 9.43758 25.8367 9.31996 25.8002C9.25448 25.7798 9.18901 25.7594 9.12156 25.7384C9.02189 25.7098 9.02189 25.7098 8.92022 25.6807C8.82471 25.6492 8.82471 25.6492 8.72727 25.617C8.53617 25.5841 8.53617 25.5841 8.38172 25.7195C8.32887 25.7766 8.27601 25.8337 8.22155 25.8926C8.16301 25.9543 8.10448 26.0159 8.04417 26.0795C7.98408 26.1451 7.92399 26.2108 7.86208 26.2784C7.7424 26.4067 7.62239 26.5347 7.50202 26.6624C7.44925 26.7197 7.39647 26.7771 7.3421 26.8362C7.07055 27.0944 6.85218 27.1577 6.48415 27.1629C6.41528 27.1651 6.34641 27.1673 6.27546 27.1695C5.84026 27.098 5.53162 26.7683 5.229 26.4613C5.19395 26.4259 5.1589 26.3905 5.12279 26.3541C5.00833 26.2384 4.89442 26.1221 4.78055 26.0058C4.7006 25.9247 4.62062 25.8435 4.54063 25.7624C4.37368 25.5929 4.207 25.4231 4.04051 25.2531C3.82731 25.0355 3.61344 24.8185 3.39936 24.6018C3.23435 24.4346 3.06971 24.267 2.90517 24.0993C2.82644 24.0192 2.7476 23.9391 2.66864 23.8592C2.55843 23.7476 2.44871 23.6354 2.33911 23.5231C2.27665 23.4595 2.21418 23.3959 2.14982 23.3303C1.89593 23.0398 1.82426 22.8255 1.81893 22.439C1.8168 22.369 1.81467 22.299 1.81247 22.2268C1.91186 21.6017 2.512 21.1779 2.94541 20.772C2.99861 20.72 3.05182 20.6681 3.10663 20.6146C3.15555 20.5683 3.20446 20.5219 3.25486 20.4742C3.37122 20.3297 3.37122 20.3297 3.33712 20.1417C3.31722 20.0762 3.29732 20.0107 3.27681 19.9431C3.25809 19.8756 3.23937 19.808 3.22009 19.7384C3.20001 19.6719 3.17993 19.6053 3.15924 19.5367C3.13897 19.4692 3.1187 19.4016 3.09781 19.332C3.08239 19.2812 3.06697 19.2305 3.05108 19.1781C2.98506 19.1797 2.91904 19.1813 2.85102 19.183C2.60448 19.1882 2.358 19.1921 2.11143 19.1949C2.00502 19.1965 1.89861 19.1986 1.79222 19.2012C1.63867 19.205 1.4852 19.2067 1.3316 19.208C1.2394 19.2096 1.14719 19.2112 1.05219 19.2129C0.649354 19.1587 0.431915 18.9859 0.181005 18.6676C0.0151435 18.3656 0.0031347 18.1789 0.00231744 17.8346C0.00179002 17.7786 0.00126261 17.7225 0.00071921 17.6648C-0.000598758 17.4807 0.000269154 17.2967 0.00128869 17.1126C0.00108577 16.984 0.000793522 16.8554 0.000416098 16.7268C-2.68188e-05 16.4578 0.000614715 16.1887 0.00202351 15.9197C0.00373831 15.5755 0.00275108 15.2314 0.000948841 14.8872C-0.000140838 14.6218 0.000207762 14.3564 0.00098673 14.0909C0.00118694 13.9641 0.000943124 13.8372 0.000240431 13.7103C-0.000527463 13.5327 0.000645889 13.3552 0.00231744 13.1776C0.0025569 13.0767 0.00279636 12.9758 0.00304307 12.8719C0.0611314 12.4572 0.24253 12.2251 0.553174 11.9602C0.835691 11.812 1.01515 11.7987 1.3316 11.8042C1.38107 11.8046 1.43053 11.805 1.4815 11.8055C1.63793 11.8072 1.79422 11.811 1.95061 11.8149C2.05731 11.8165 2.164 11.8179 2.2707 11.8191C2.53087 11.8225 2.79096 11.8277 3.05108 11.8341C3.08735 11.7146 3.12336 11.595 3.15924 11.4755C3.17932 11.4089 3.1994 11.3423 3.22009 11.2737C3.23881 11.2062 3.25753 11.1386 3.27681 11.069C3.2975 11.0043 3.31819 10.9396 3.33951 10.8729C3.37185 10.6786 3.37185 10.6786 3.23866 10.5216C3.18248 10.4678 3.1263 10.4141 3.06842 10.3587C3.00775 10.2992 2.94708 10.2397 2.88457 10.1784C2.82002 10.1173 2.75547 10.0562 2.68896 9.99326C2.56274 9.87158 2.43683 9.74957 2.31126 9.62719C2.25483 9.57354 2.1984 9.51988 2.14025 9.46461C1.88636 9.18852 1.82409 8.96651 1.81893 8.59234C1.8168 8.52232 1.81467 8.4523 1.81247 8.38016C1.88281 7.93771 2.20703 7.62392 2.50908 7.31625C2.54386 7.28061 2.57865 7.24498 2.61449 7.20826C2.7283 7.09189 2.84263 6.97608 2.95702 6.86031C3.03687 6.77903 3.11669 6.69772 3.1965 6.61639C3.36323 6.44665 3.53023 6.27719 3.69742 6.10793C3.91148 5.89117 4.12485 5.67373 4.33803 5.45608C4.5025 5.28832 4.66732 5.12093 4.83225 4.95364C4.91108 4.8736 4.9898 4.79344 5.0684 4.71317C5.17823 4.60112 5.28853 4.48957 5.39897 4.37814C5.46155 4.31463 5.52414 4.25112 5.58862 4.18569C5.87439 3.92757 6.08516 3.8547 6.46534 3.84928C6.56864 3.84603 6.56864 3.84603 6.67402 3.84271C7.2889 3.94376 7.70571 4.55391 8.10501 4.99455C8.15608 5.04864 8.20715 5.10273 8.25976 5.15846C8.30536 5.2082 8.35095 5.25793 8.39793 5.30917C8.54003 5.42747 8.54003 5.42747 8.72488 5.3928C8.78934 5.37257 8.8538 5.35233 8.92022 5.33149C8.98666 5.31245 9.0531 5.29342 9.12156 5.27381C9.18703 5.2534 9.2525 5.23299 9.31996 5.21195C9.3864 5.19134 9.45284 5.17073 9.5213 5.1495C9.57125 5.13382 9.6212 5.11814 9.67267 5.10198C9.6703 5.00131 9.6703 5.00131 9.66789 4.89859C9.66274 4.64794 9.65898 4.39734 9.65614 4.14666C9.65463 4.03847 9.65258 3.93029 9.64996 3.82213C9.64628 3.66601 9.6446 3.50998 9.64328 3.35382C9.64091 3.2132 9.64091 3.2132 9.6385 3.06974C9.69175 2.66019 9.86174 2.43912 10.1749 2.18402C10.4719 2.0154 10.6555 2.00319 10.9942 2.00236Z"
            fill="#ED1C24"
          />
        </svg>

        <div class="app-text">
          <h3>Grease lubrication systems</h3>
          <p>
            Efficiently delivers engine oil to vehicles during routine
            maintenance or oil changes.
          </p>
        </div>
      </div>

      <div class="app-item">
        <svg
          width="34"
          height="34"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.80249 0.253513C8.91662 0.287345 8.91662 0.287345 9.03307 0.321861C10.8053 0.904313 12.231 2.1162 13.1139 3.76385C13.8165 5.17222 14.0316 6.77082 13.7036 8.30737C13.6544 8.54175 13.624 8.70914 13.7049 8.93576C13.7844 9.04621 13.7844 9.04621 13.8886 9.148C13.9278 9.18859 13.9671 9.22918 14.0076 9.271C14.0511 9.31498 14.0947 9.35895 14.1395 9.40426C14.1855 9.45145 14.2315 9.49864 14.2788 9.54726C14.4336 9.70583 14.5891 9.86369 14.7446 10.0215C14.8555 10.1348 14.9664 10.2482 15.0772 10.3615C15.4421 10.7341 15.808 11.1056 16.1743 11.4768C16.2054 11.5084 16.2366 11.54 16.2687 11.5725C16.8877 12.2 17.5074 12.8269 18.1282 13.4527C18.2646 13.5903 18.4011 13.7278 18.5375 13.8654C18.5884 13.9167 18.5884 13.9167 18.6403 13.969C19.189 14.5225 19.7348 15.0789 20.2796 15.6364C20.8393 16.2091 21.4017 16.779 21.9669 17.3464C22.284 17.6649 22.5998 17.9845 22.9124 18.3073C23.207 18.6111 23.5048 18.9112 23.8054 19.209C23.9149 19.3186 24.0232 19.4295 24.1301 19.5417C24.647 20.123 24.647 20.123 25.3338 20.4247C25.6696 20.4169 25.9772 20.3415 26.2958 20.2401C26.5574 20.1644 26.8256 20.1728 27.0956 20.1779C27.1499 20.1786 27.2043 20.1792 27.2603 20.1798C29.1853 20.2264 30.9088 21.0414 32.2366 22.4192C33.6467 24.0068 34.0686 25.7901 33.9912 27.8681C33.8784 29.6528 32.863 31.2422 31.5781 32.427C30.0605 33.7503 28.1798 34.069 26.226 33.9883C24.6365 33.858 22.9506 32.9438 21.9198 31.7349C20.6908 30.2352 20.0295 28.4512 20.1974 26.4991C20.2323 26.2427 20.2772 25.9887 20.3312 25.7356C20.3805 25.5012 20.4107 25.3339 20.3299 25.1073C20.2504 24.9968 20.2504 24.9968 20.1464 24.895C20.1072 24.8544 20.0679 24.8138 20.0275 24.772C19.984 24.728 19.9405 24.6841 19.8957 24.6388C19.8498 24.5916 19.8039 24.5444 19.7565 24.4958C19.6019 24.3372 19.4466 24.1793 19.2913 24.0215C19.1805 23.9082 19.0697 23.7949 18.9589 23.6815C18.5944 23.3089 18.2288 22.9374 17.8629 22.5662C17.8317 22.5346 17.8006 22.5031 17.7685 22.4705C17.1498 21.843 16.5305 21.2161 15.91 20.5903C15.7737 20.4527 15.6373 20.3152 15.5009 20.1776C15.467 20.1434 15.4331 20.1092 15.3982 20.074C14.8499 19.5206 14.3045 18.9642 13.7604 18.4067C13.2011 17.8338 12.639 17.2639 12.0741 16.6966C11.7572 16.3782 11.4417 16.0586 11.1294 15.7357C10.8351 15.4318 10.5375 15.1317 10.2369 14.834C10.1274 14.7245 10.0193 14.6136 9.9126 14.5013C9.39166 13.9177 9.39166 13.9177 8.69843 13.6183C8.35068 13.6263 8.03259 13.7063 7.70035 13.803C6.26575 14.1442 4.50986 13.5838 3.2907 12.855C1.68003 11.8409 0.59013 10.2634 0.132114 8.42625C-0.0760077 7.25306 -0.0565343 5.96071 0.322581 4.8266C0.348115 4.74954 0.37365 4.67248 0.399958 4.59308C1.02019 2.87017 2.30881 1.43344 3.96545 0.652872C5.44739 -0.0105383 7.23323 -0.21276 8.80249 0.253513ZM5.22503 4.69405C5.15534 4.74189 5.08565 4.78974 5.01386 4.83903C4.43196 5.42117 4.13834 6.10646 4.09517 6.91872C4.10644 7.62703 4.33393 8.17944 4.76128 8.73693C4.7945 8.7805 4.82772 8.82407 4.86195 8.86896C5.30498 9.37389 6.02995 9.6965 6.69105 9.74687C7.59118 9.76633 8.25753 9.5377 8.93499 8.93576C9.50242 8.32678 9.76815 7.59037 9.75042 6.76287C9.67391 5.96543 9.32781 5.32089 8.7528 4.77275C7.70938 3.91997 6.30421 3.91487 5.22503 4.69405ZM24.9753 25.2409C24.4487 25.9116 24.2232 26.6422 24.3048 27.4932C24.4663 28.3126 24.8699 29.0034 25.5636 29.4815C26.3367 29.9242 27.0828 30.0333 27.9485 29.8129C28.8314 29.4755 29.3064 28.9808 29.7419 28.1539C30.0339 27.4845 29.9816 26.7081 29.7373 26.0351C29.6052 25.7723 29.4523 25.5393 29.2735 25.3061C29.2403 25.2625 29.2071 25.219 29.1728 25.1741C28.7298 24.6691 28.0048 24.3465 27.3437 24.2962C26.4002 24.2757 25.6312 24.537 24.9753 25.2409Z"
            fill="#ED1C24"
          />
          <path
            d="M10.5595 18.004C10.7001 18.0702 10.7803 18.1402 10.8882 18.2577C10.9261 18.2984 10.964 18.3392 11.0031 18.3812C11.0434 18.4257 11.0837 18.4701 11.1253 18.5158C11.1886 18.5845 11.1886 18.5845 11.2533 18.6546C11.3427 18.7517 11.4319 18.849 11.5209 18.9466C11.6558 19.0945 11.7912 19.2416 11.9269 19.3886C12.0139 19.4833 12.101 19.5781 12.188 19.6729C12.2478 19.7381 12.2478 19.7381 12.309 19.8045C12.5042 20.0189 12.693 20.2365 12.875 20.4641C13.0919 20.7349 13.3212 20.9889 13.5564 21.2411C13.6189 21.3084 13.6189 21.3084 13.6825 21.3771C13.8136 21.5183 13.9448 21.6593 14.0761 21.8003C14.1658 21.8969 14.2555 21.9935 14.3451 22.0901C14.5632 22.3251 14.7816 22.5598 15 22.7945C14.7384 23.1359 14.464 23.4391 14.1614 23.7375C14.0308 23.8703 13.9006 24.0035 13.7705 24.1368C13.6807 24.2276 13.5901 24.3176 13.4987 24.4065C12.9509 24.9047 12.9509 24.9047 12.6862 25.5859C12.7203 25.8307 12.7766 26.0548 12.8429 26.2913C13.019 28.1769 12.5209 29.9592 11.4512 31.4509C10.3855 32.8321 8.97887 33.7113 7.32343 33.9707C6.09222 34.0501 4.90137 33.9994 3.77064 33.4221C3.86585 33.1798 3.99461 33.0288 4.16897 32.8466C4.22509 32.7875 4.28122 32.7284 4.33904 32.6675C4.36905 32.6362 4.39905 32.6049 4.42996 32.5726C4.52456 32.4738 4.61859 32.3743 4.71248 32.2746C4.97939 31.9914 5.24669 31.7086 5.51573 31.4277C5.68058 31.2555 5.84428 31.0821 6.00733 30.9079C6.09892 30.8107 6.19169 30.7149 6.28448 30.619C6.72847 30.143 7.00273 29.6611 7.10956 28.9884C7.09458 28.2663 6.91833 27.6351 6.43523 27.1141C5.95941 26.7199 5.49012 26.5425 4.89278 26.5656C4.10842 26.6793 3.57385 27.1993 3.04402 27.7907C2.97834 27.8624 2.91258 27.9341 2.84673 28.0057C2.67566 28.1921 2.50577 28.3797 2.33611 28.5677C2.16198 28.7601 1.98674 28.9513 1.8116 29.1427C1.46959 29.5167 1.12882 29.892 0.788832 30.2681C0.188103 29.6495 0.0372185 28.4605 0.00298456 27.6005C-0.0420118 25.5513 0.416465 23.7625 1.73984 22.2496C2.84207 21.0222 4.34849 20.1535 5.95669 20.1065C6.09109 20.1051 6.22549 20.104 6.35989 20.1033C6.45724 20.1012 6.45724 20.1012 6.55654 20.099C6.87089 20.0973 7.15062 20.097 7.44959 20.2081C7.72738 20.305 7.98296 20.3876 8.27507 20.3261C8.72932 20.0539 9.06611 19.5844 9.40515 19.1691C9.54828 18.9998 9.69231 18.8315 9.83716 18.664C9.92668 18.5598 10.0151 18.4544 10.1022 18.3478C10.1617 18.2768 10.1617 18.2768 10.2224 18.2044C10.2742 18.1411 10.2742 18.1411 10.327 18.0765C10.4321 17.9949 10.4321 17.9949 10.5595 18.004Z"
            fill="#ED1C24"
          />
          <path
            d="M30.2305 0.568236C30.2305 0.760762 30.2305 0.760762 30.1295 0.884791C30.0821 0.931644 30.0348 0.978497 29.9861 1.02677C29.9327 1.08014 29.8793 1.13351 29.8243 1.1885C29.7365 1.27483 29.7365 1.27483 29.647 1.36291C29.5867 1.42306 29.5265 1.48327 29.4663 1.54354C29.2425 1.76727 29.0178 1.98995 28.7931 2.21265C28.6037 2.40034 28.4148 2.58845 28.2263 2.77709C28.1384 2.86482 28.0498 2.95195 27.9613 3.03907C27.3867 3.61356 26.9335 4.18128 26.9034 5.0204C26.9178 5.59493 27.1157 6.11077 27.5022 6.53654C27.9884 6.98889 28.5424 7.09062 29.1888 7.071C30.3652 6.95677 31.3056 5.58527 32.0864 4.79177C32.2021 4.6744 32.3178 4.55703 32.4336 4.43969C32.7146 4.15479 32.9954 3.86971 33.276 3.58448C33.4328 3.78865 33.532 3.9764 33.625 4.21821C33.6505 4.2829 33.676 4.34759 33.7023 4.41424C33.9325 5.10233 34.0047 5.78173 33.9978 6.50445C33.9985 6.58164 33.9992 6.65882 34 6.73834C33.995 8.32287 33.3645 9.79659 32.3243 10.9646C32.2801 11.0147 32.2358 11.0647 32.1902 11.1163C31.138 12.2428 29.5451 12.989 28.0132 13.0376C27.8825 13.0385 27.7518 13.0387 27.6211 13.0383C27.5259 13.0399 27.5259 13.0399 27.4288 13.0414C27.1199 13.0416 26.8461 13.0384 26.5526 12.9359C26.2743 12.845 26.0182 12.7681 25.7256 12.8257C25.2713 13.0805 24.9345 13.52 24.5954 13.9087C24.4523 14.0671 24.3082 14.2246 24.1634 14.3815C24.0738 14.479 23.9854 14.5776 23.8983 14.6773C23.8388 14.7438 23.8388 14.7438 23.7781 14.8116C23.7436 14.8511 23.709 14.8906 23.6735 14.9313C23.5683 15.0077 23.5683 15.0077 23.447 14.9912C23.2997 14.9382 23.2299 14.8817 23.1202 14.7701C23.0836 14.7333 23.0469 14.6965 23.0092 14.6586C22.9697 14.618 22.9303 14.5774 22.8897 14.5356C22.8475 14.4931 22.8054 14.4505 22.762 14.4066C22.6229 14.2657 22.4844 14.1242 22.3459 13.9826C22.2496 13.8848 22.1532 13.7871 22.0568 13.6894C21.8032 13.4321 21.55 13.1742 21.2971 12.9162C21.0388 12.653 20.78 12.3904 20.5213 12.1277C20.0137 11.6122 19.5066 11.0961 19 10.5796C19.0867 10.3805 19.1829 10.254 19.3413 10.1077C19.3849 10.0669 19.4285 10.0262 19.4734 9.98417C19.5438 9.9188 19.5438 9.9188 19.6157 9.8521C19.7143 9.75773 19.8127 9.66322 19.9111 9.56857C20.0659 9.41991 20.2212 9.2722 20.379 9.12684C20.9976 8.60185 20.9976 8.60185 21.323 7.89384C21.2888 7.66475 21.2301 7.46175 21.1573 7.24247C21.1386 7.06107 21.1386 7.06107 21.136 6.89101C21.1346 6.80968 21.1346 6.80968 21.1331 6.7267C21.1371 4.81441 21.7592 3.21998 23.0687 1.81966C24.9213 0.00357263 27.8808 -0.529552 30.2305 0.568236Z"
            fill="#ED1C24"
          />
        </svg>

        <div class="app-text">
          <h3>Workshop air tool setups</h3>
          <p>
            Accurately refills transmission systems with the required fluid to
            ensure smooth gear operation.
          </p>
        </div>
      </div>

      <div class="app-item">
        <img
          width="32"
          src="https://cdn.shopify.com/s/files/1/0927/8583/6398/files/Group_1597880945.svg?v=1754650920"
        />
        <div class="app-text">
          <h3>Brake fluid handling</h3>
          <p>
            Safely stores and dispenses brake fluid for bleeding and refilling
            vehicle brake systems.
          </p>
        </div>
      </div>

      <div class="app-item">
        <svg
          width="25"
          height="34"
          viewBox="0 0 25 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.00944539 14.3556C4.55611 14.3556 9.10277 14.3556 13.7872 14.3556C13.8089 14.7019 13.8305 15.0482 13.8528 15.4049C14.125 15.677 14.1687 15.6975 14.5288 15.7021C14.6116 15.7011 14.6116 15.7011 14.696 15.7002C14.7546 15.7005 14.8132 15.7009 14.8736 15.7013C15.0672 15.7021 15.2607 15.701 15.4543 15.6998C15.5888 15.6998 15.7233 15.6999 15.8578 15.7001C16.1396 15.7002 16.4213 15.6994 16.7031 15.6979C17.0646 15.696 17.4261 15.6962 17.7877 15.697C18.0653 15.6975 18.343 15.697 18.6206 15.6962C18.7539 15.6959 18.8873 15.6958 19.0206 15.6961C19.2067 15.6963 19.3928 15.6952 19.579 15.6938C19.6343 15.6941 19.6896 15.6944 19.7466 15.6947C20.0869 15.6917 20.0869 15.6917 20.3481 15.4705C20.3697 15.1026 20.3914 14.7347 20.4137 14.3556C21.6478 14.3556 22.8819 14.3556 24.1533 14.3556C24.1577 16.7551 24.1613 19.1547 24.1634 21.5542C24.1636 21.8375 24.1639 22.1207 24.1642 22.4039C24.1642 22.4603 24.1643 22.5167 24.1643 22.5748C24.1652 23.488 24.1667 24.4013 24.1685 25.3145C24.1704 26.2514 24.1715 27.1883 24.1719 28.1253C24.1721 28.7035 24.173 29.2817 24.1746 29.86C24.1756 30.2563 24.1759 30.6527 24.1757 31.0491C24.1756 31.2779 24.1758 31.5067 24.1768 31.7354C24.1778 31.9835 24.1776 32.2314 24.177 32.4794C24.1776 32.5518 24.1782 32.6241 24.1788 32.6987C24.1766 33.06 24.1661 33.3282 23.9565 33.6373C23.6677 33.8979 23.5102 33.9734 23.1256 33.9741C23.0063 33.9745 23.0063 33.9745 22.8846 33.975C22.7955 33.9749 22.7064 33.9749 22.6174 33.9749C22.5233 33.9751 22.4293 33.9754 22.3353 33.9756C22.0761 33.9763 21.8168 33.9765 21.5575 33.9767C21.2783 33.977 20.999 33.9776 20.7198 33.9782C20.0449 33.9795 19.37 33.9801 18.6952 33.9807C18.3776 33.981 18.06 33.9814 17.7424 33.9817C16.687 33.9828 15.6316 33.9838 14.5762 33.9842C14.3022 33.9844 14.0282 33.9845 13.7542 33.9846C13.6861 33.9847 13.618 33.9847 13.5478 33.9847C12.4442 33.9853 11.3406 33.9869 10.2369 33.9891C9.10451 33.9912 7.97212 33.9924 6.83972 33.9926C6.20364 33.9928 5.56756 33.9933 4.93148 33.995C4.38985 33.9964 3.84823 33.997 3.30659 33.9963C3.03015 33.996 2.75374 33.9961 2.4773 33.9974C2.22427 33.9986 1.97127 33.9985 1.71824 33.9975C1.62667 33.9973 1.5351 33.9976 1.44353 33.9984C0.595077 34.0051 0.595077 34.0051 0.271879 33.7029C0.0542815 33.4554 0.00123114 33.2496 0.00137241 32.9246C0.00124178 32.8585 0.00111115 32.7923 0.000976562 32.7241C0.00116767 32.6512 0.00135878 32.5782 0.00155567 32.5031C0.00149962 32.4258 0.00144356 32.3485 0.0013858 32.2689C0.00129624 32.054 0.00150199 31.839 0.0018305 31.6241C0.00211327 31.3925 0.00201799 31.1609 0.00196813 30.9293C0.00193369 30.5278 0.00213991 30.1264 0.0025086 29.725C0.00304133 29.1446 0.00321263 28.5642 0.00329511 27.9838C0.00343878 27.0423 0.00387561 26.1007 0.00449592 25.1591C0.00509795 24.2443 0.0055617 23.3295 0.00584141 22.4147C0.00585899 22.3578 0.00587657 22.3008 0.00589469 22.2422C0.00603111 21.7968 0.0061595 21.3515 0.00628536 20.9062C0.00690452 18.7227 0.0082244 16.5391 0.00944539 14.3556ZM12.8687 19.6515C12.7985 19.7231 12.7281 19.7945 12.6578 19.8659C12.4868 20.0397 12.3167 20.2143 12.147 20.3893C11.8958 20.2862 11.7406 20.1274 11.5524 19.9343C11.5214 19.9028 11.4903 19.8713 11.4584 19.8388C11.3262 19.7045 11.1947 19.5695 11.0632 19.4345C10.9669 19.3357 10.8701 19.2374 10.7733 19.1391C10.6872 19.0507 10.6872 19.0507 10.5993 18.9606C10.3197 18.7037 10.1072 18.6546 9.7359 18.6631C9.45159 18.7036 9.27877 18.8682 9.07571 19.0572C8.95517 19.2918 8.91261 19.5361 8.93219 19.7991C9.07545 20.1621 9.29073 20.3624 9.57649 20.613C9.66541 20.6949 9.75417 20.777 9.84276 20.8593C9.98112 20.9872 10.12 21.1137 10.2622 21.2372C10.7682 21.6793 11.135 22.0281 11.1872 22.7242C11.1928 22.9966 11.1863 23.2659 11.1629 23.5374C9.9589 23.7235 9.9589 23.7235 9.45939 23.3843C9.02689 23.0372 8.65239 22.6278 8.28056 22.2181C8.24002 22.1735 8.19948 22.1288 8.15771 22.0828C8.08143 21.9977 8.0061 21.9118 7.93192 21.8248C7.69576 21.5556 7.50382 21.4179 7.16076 21.3075C6.80308 21.3138 6.58366 21.4099 6.30786 21.6354C6.09185 21.8801 6.06452 22.1315 6.07669 22.4483C6.18909 23.0076 6.76074 23.3981 7.16794 23.7605C7.39299 23.9627 7.60538 24.1738 7.81685 24.39C7.71425 24.6399 7.5576 24.7917 7.364 24.9774C7.29952 25.0402 7.23507 25.103 7.17063 25.1658C7.06953 25.2637 6.96823 25.3613 6.86657 25.4585C6.76798 25.553 6.67026 25.6484 6.5726 25.7439C6.51399 25.8003 6.45539 25.8567 6.39501 25.9148C6.19756 26.1479 6.06137 26.3893 6.03133 26.7C6.07845 27.0125 6.16212 27.2269 6.37346 27.4724C6.66063 27.6638 6.8842 27.7112 7.22637 27.6692C7.59689 27.4906 7.82637 27.2773 8.09133 26.9675C9.48619 25.4088 9.48619 25.4088 10.2842 25.3483C10.5826 25.3553 10.8706 25.3776 11.1629 25.4393C11.284 25.9546 11.3014 26.4529 11.0973 26.9478C10.6611 27.5826 10.0287 28.108 9.4497 28.6093C9.17803 28.8488 8.94918 29.084 8.9204 29.4648C8.97707 29.8784 8.97707 29.8784 9.19463 30.227C9.48224 30.4203 9.76295 30.5549 10.1131 30.4893C10.6225 30.221 10.9953 29.8268 11.3925 29.4195C11.4596 29.3514 11.5268 29.2834 11.5939 29.2154C11.757 29.0503 11.9194 28.8846 12.0814 28.7185C12.3326 28.8217 12.4878 28.9804 12.676 29.1735C12.707 29.205 12.7381 29.2366 12.77 29.2691C12.9023 29.4034 13.0337 29.5384 13.1652 29.6734C13.2615 29.7721 13.3583 29.8704 13.4551 29.9687C13.5125 30.0277 13.5699 30.0866 13.6291 30.1473C13.9087 30.4042 14.1212 30.4533 14.4925 30.4447C14.7768 30.4043 14.9496 30.2397 15.1527 30.0507C15.2732 29.8161 15.3158 29.5718 15.2962 29.3088C15.1532 28.9458 14.939 28.7481 14.6519 28.4995C13.0307 27.037 13.0307 27.037 12.9697 26.2708C12.9776 25.9874 13.0006 25.7156 13.0655 25.4393C13.581 25.3182 14.0795 25.3009 14.5745 25.5049C15.2096 25.941 15.7352 26.5731 16.2366 27.1519C16.5045 27.4554 16.7448 27.6408 17.1579 27.702C17.4725 27.6586 17.6837 27.552 17.9205 27.3413C18.1027 27.0489 18.1387 26.8267 18.0987 26.4946C17.9765 26.1375 17.7113 25.8701 17.448 25.6099C17.4005 25.5627 17.4005 25.5627 17.352 25.5146C17.2521 25.4154 17.1517 25.3167 17.0512 25.218C16.9829 25.1503 16.9145 25.0826 16.8462 25.0148C16.6798 24.8499 16.513 24.6854 16.3459 24.5211C16.4388 24.3277 16.528 24.1917 16.6822 24.0416C16.723 24.0017 16.7639 23.9619 16.806 23.9209C16.9328 23.8031 17.0628 23.6905 17.1948 23.5784C17.7656 23.1107 17.7656 23.1107 18.0674 22.4768C18.0755 22.1959 18.0689 22.0019 17.9534 21.742C17.7466 21.525 17.5521 21.3944 17.2645 21.3075C16.8691 21.3075 16.5972 21.4522 16.3163 21.7295C16.2171 21.8383 16.1206 21.9491 16.0243 22.0605C14.6869 23.5501 14.6869 23.5501 13.9231 23.6269C13.6342 23.6169 13.3514 23.5792 13.0655 23.5374C12.9626 22.3431 12.9626 22.3431 13.3179 21.8683C13.5598 21.5942 13.8314 21.3543 14.1071 21.1149C14.2457 20.9886 14.3834 20.8614 14.5208 20.7337C14.6059 20.6554 14.6918 20.578 14.7787 20.5018C15.0492 20.2608 15.2792 20.0238 15.308 19.6431C15.2513 19.2295 15.2513 19.2295 15.0338 18.8809C14.1117 18.2731 13.5043 18.9952 12.8687 19.6515Z"
            fill="#ED1C24"
          />
          <path
            d="M1.05261 6.05289C1.10441 6.05268 1.15621 6.05246 1.20958 6.05224C1.26612 6.05234 1.32267 6.05245 1.38093 6.05255C1.44129 6.0524 1.50165 6.05225 1.56384 6.0521C1.76663 6.05167 1.96942 6.05173 2.17221 6.05178C2.31744 6.05158 2.46266 6.05135 2.60789 6.0511C3.00301 6.05051 3.39812 6.05036 3.79324 6.05031C4.04037 6.05027 4.28749 6.05012 4.53461 6.04995C5.353 6.04936 6.17139 6.04905 6.98979 6.0491C7.05597 6.0491 7.05597 6.0491 7.12349 6.04911C7.18976 6.04911 7.18976 6.04911 7.25737 6.04912C7.97132 6.04914 8.68528 6.0485 9.39923 6.04756C10.1336 6.0466 10.8679 6.04615 11.6022 6.0462C12.014 6.04621 12.4257 6.04603 12.8375 6.04532C13.2255 6.04467 13.6136 6.04467 14.0016 6.04515C14.1433 6.04522 14.285 6.04507 14.4267 6.04466C15.4331 6.04196 16.4384 6.05916 17.4156 6.34129C17.466 6.35556 17.5165 6.36984 17.5684 6.38454C19.7286 7.02364 21.5612 8.56909 22.6529 10.5993C23.4232 12.0852 23.4232 12.0852 23.4232 12.6766C22.9052 12.7071 22.3873 12.7324 21.8688 12.7512C21.6279 12.7601 21.3874 12.7707 21.1468 12.7854C19.5907 12.8789 19.5907 12.8789 19.2315 12.6558C18.9943 12.4112 18.9047 12.1291 18.7939 11.8079C18.6175 11.5672 18.4208 11.3537 18.2152 11.1397C18.1712 11.0932 18.1272 11.0467 18.0819 10.9988C17.0403 9.96632 15.5156 9.42003 14.0887 9.45333C13.8642 9.47137 13.8642 9.47137 13.6502 9.53607C13.3314 10.5301 13.5445 11.6291 13.5216 12.6766C9.06594 12.6766 4.61023 12.6766 0.0195094 12.6766C0.0195094 11.9048 0.0195094 11.133 0.0195094 10.3379C1.08843 10.317 1.08843 10.317 1.42363 10.312C1.51232 10.3098 1.60101 10.3076 1.68969 10.3053C1.73492 10.3049 1.78015 10.3044 1.82675 10.304C2.20455 10.2927 2.46522 10.1946 2.74003 9.92446C2.87938 9.68309 2.9261 9.48296 2.91282 9.20198C2.79345 8.8436 2.59488 8.63586 2.26986 8.46697C2.10116 8.45651 1.9339 8.44971 1.76504 8.44583C1.69039 8.44375 1.69039 8.44375 1.61423 8.44162C1.45504 8.43725 1.29585 8.43331 1.13665 8.42938C1.02882 8.4265 0.92099 8.42358 0.813161 8.42064C0.548618 8.41348 0.284067 8.40671 0.0195094 8.40015C0.0138827 8.14124 0.0104717 7.88234 0.00745398 7.62338C0.00583779 7.55025 0.00422172 7.47713 0.00255656 7.40178C-0.00340992 6.71971 -0.00340999 6.71971 0.212397 6.39558C0.480312 6.13143 0.690166 6.05328 1.05261 6.05289Z"
            fill="#ED1C24"
          />
          <path
            d="M2.74684 0.00252269C2.81572 0.00205448 2.88459 0.00158628 2.95556 0.00110388C3.18322 -7.19991e-05 3.41084 0.000706621 3.6385 0.00160943C3.79677 0.00142945 3.95503 0.00117014 4.11329 0.0008348C4.44502 0.000440795 4.77673 0.000988216 5.10845 0.00226176C5.49141 0.00371508 5.87435 0.00324531 6.25731 0.00177376C6.62632 0.000412809 6.99531 0.000559847 7.36433 0.00134137C7.52107 0.00151957 7.67782 0.00130099 7.83456 0.000678853C8.05372 -6.36412e-08 8.27282 0.00103526 8.49198 0.00252269C8.58911 0.0017114 8.58911 0.0017114 8.6882 0.000883724C9.04407 0.00535598 9.27945 0.0260765 9.55047 0.304287C10.0269 1.3416 9.73455 2.61802 9.73455 3.77778C7.02118 3.77778 4.3078 3.77778 1.51221 3.77778C1.51221 0.608887 1.51221 0.608887 1.88374 0.147803C2.16358 -0.0236301 2.43095 -0.000110852 2.74684 0.00252269Z"
            fill="#ED1C24"
          />
        </svg>

        <div class="app-text">
          <h3>Coolant refilling</h3>
          <p>
            Facilitates the safe and accurate refilling of engine coolant to
            maintain optimal engine temperature.
          </p>
        </div>
      </div>
    </div>

    <div class="key-applications-right">
        {% if section.settings.image %}
          {% assign image = section.settings.image | image_url %}
        {% else %}
            {% assign image = "https://cdn.shopify.com/s/files/1/0927/8583/6398/files/young-car-repairman-talking-with-his-coworker-while-checking-engine-performance-with-diagnostic-tools-auto-repair-shop.png?v=1754647060" %}
        {% endif %}
      <img
        src={{ image }} alt="Mechanics working on engine" width="auto" height="auto"
      />
    </div>
  </div>
</div>


{% schema %}
  {
  "name": "Custom Auto Card",
  "tag": "section",
  "class": "auto-card-section",
  "settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Key Applications"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "This Image will Exist in The sectio"
    }
  ],
  "blocks": [
    {
      "name": "Content Block",
      "type": "content_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "content_icon",
          "label": "Content Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Title Text"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Description Goes Here."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Auto Card"
    }
  ]
}  
{% endschema %}