<style>
    .feature-section{
    display: flex;
    }
</style>

<div class="feature-section">
  <div class="image-slide">
    <img src="https://picsum.photos/id/237" alt="Image" width="" height="">
  </div>

  <div class="card">
    <div>
      <span class="custom_badge">{{ section.settings.tag }}</span>
      {% if section.settings.icon %}
        {{
          section.settings.icon
          | image_url: width: section.settings.width, height: section.settings.height
          | image_tag
        }}
      {% else %}
        <div>No Image</div>
      {% endif %}
    </div>
    <h3>{{ section.settings.title }}</h3>
    <p>{{ section.settings.description }}</p>
    <div class="btn-container">
      <a class="btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      <a
        href="{{ section.settings.explore_button_link }}"
        target="_blank"
        class="demo-link"
      >
        <span class="demo-text"> {{ section.settings.explore_button_label }}</span>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Example section",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "App Icon"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Title",
      "min": 0,
      "max": 1000,
      "step": 50,
      "default": 250
    },
    {
      "type": "range",
      "id": "height",
      "label": "Title",
      "min": 0,
      "max": 1000,
      "step": 50,
      "default": 100
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "Tag (Free or Paid)"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Add Apps"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "explore_button_label",
      "label": "Explore Button Label",
      "default": "Explore Apps"
    },
    {
      "type": "url",
      "id": "explore_button_link",
      "label": "Explore Button Link"
    }
  ],
  "presets": [
    {
      "name": "Example section"
    }
  ]
}
{% endschema %}
